
# dirs to exclude
**/project.xcworkspace
**/xcshareddata
*.dylib
*.mxe
*.mxe64
*.mxo
*.o
__pycache__
*.pyc
*.sdf
*.sln
*.suo
*.swo
.DS_Store
.mypy_cache
.pytest_cache
.vs
.vscode

build
notes
dist
CMakeFiles
env.sh
externals/*
extensions/*
javascript/node_modules
log.txt
logs
support/*
sysbuild
tmp

